@import 'styles';

footer {
    padding: 20px;
    background: $footerBg;
    
    section {
        width: 100%;
        color: $footerColor;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        div {
            width: 20%;
            text-align: center;
        }
    }

}